@tailwind base;
@tailwind utilities;
@tailwind components;

body {
	background-color: #f3f4f5;
}

.radial-primary {
	background: radial-gradient(#53a415ce, transparent);
}
.radial-success {
	background: radial-gradient(#0081a0, transparent);
}
